
<% #user see this %>
<br></br><br></br><br></br>
<center>

<h4>Візит</h4><br><br>

<p>
<b>Лікар: </b> <%= @doctor.first_name %> 
<%= @doctor.last_name %>
</p>
<p>
<b>Номер телефону лікаря: </b><%= @doctor.phone %> 
</p>
<p>
  <b>Дата:</b>
  <%= @appointment.date %>
</p>

<p>
  <b>Коментар:</b>
  <%= @appointment.comment %>
</p>

<% unless @recommendation.blank? %>
  <p>
  <b>Рекомендація від лікаря:</b>
  <%= @recommendation.recommendation %>
  </p>
<% end %>