<div class="container p-5">
<h4>Мої візити:</h4>
<% # user sees his appointments %>
<ul class="list-group list-group-flush p-3">
  <% @appointments.each do |appointment| %>
    <li class="list-group-item">
      <% if appointment.closed %>
        <div class="text-success">Appointment closed </div>
      <% end %>
      <div>Лікар: <%= Doctor.find_by(id: appointment.doctor_id).first_name %> </b>
      <%= Doctor.find_by(id: appointment.doctor_id).last_name %><br>
      Дата: <%= appointment.date %><br>
      Коментар: <%= appointment.comment %>
      </div>

      <%= link_to "Дивитись деталі", show_appointment_users_user_path(current_user.id, appointment.id) %>
    </li>
  <% end %>
</ul>
</div>