<div class="container p-5">
  <h4>Заплановані візити:</h4>
  <br><br>
  <% #doctor can see these appointments, when login %>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Ім'я пацієнта</th>
        <th scope="col">Номер телефону пацієнта</th>
        <th scope="col">Дата та час візита</th>
        <th scope="col">Коментар пацієнта</th>
        <th scope="col">Рекомендація</th>
      </tr>
    </thead>

    <% @appointments.each do |appointment| %>
      <tbody>
        <tr>
          <td><%= appointment.user.first_name + ' ' + appointment.user.last_name %></td>
          <td><%= appointment.user.phone %></td>
          <td><%= appointment.date %></td>
          <td><%= appointment.comment %></td>
          <td>
            <% unless appointment.closed %>
              <%= link_to "Залишити рекомендації", new_doctors_doctor_appointment_recommendation_path(current_doctor.id, appointment.id) %>
            <% else %>
              <div class="text-success"> Рекомендація залишена </div>
            <% end %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>