<div class="container m-5">
  <h4>New Appointment </h4>
  <% #user create appointment there(user loged in) %>
  <%= form_for @appointment, url: { action: :create } do |form| %>

    <% if @appointment.errors.any? %>
      <div class="alert alert-danger">
        <h5>
          <%= pluralize(@appointment.errors.count, "error")%>
          prohibited this appointment from being saved: 
        </h5>
        <p>There were problems with the following fields:</p>
        <ul>
          <% @appointment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group pt-4">
      <div>Doctor: 
      <%= @doctor.first_name %> 
      <%= @doctor.last_name %>
      </div> 
      
      <%= form.hidden_field :doctor_id, value: @doctor.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>  
    </div>

    <div class="field form-group">
      <div>Category: <%= @doctor.category.title %></div>
    </div>

    <div class="field form-group">
      <div>Phone: <%= @doctor.phone %></div>
    </div>

    <div class="field form-group">
      <%= form.label "Describe your problem:" %><br>
      <%= form.text_area :comment, class: "form-control w-25" %>
    </div>

    <div class="field form-group">
      <%= form.label "Choose the date:" %><br>
      <%= form.datetime_local_field :date %>
    </div>

    <div>
      <%= form.submit "Create an appointment", class:"btn btn-primary" %>
    </div>

  <% end %>
  </div>
</div>