<br></br><br></br><br></br>
<center>
<% #user can see appointment on this page %>
<p>
  <b>Ім'я лікаря:</b>
  <%= @doctor.first_name %>
</p>

<p>
  <b>Прізвище лікаря:</b>
  <%= @doctor.last_name %>
</p>

<p>
  <b>Емейл лікаря:</b>
  <%= @doctor.email %>
</p>

<p>
  <b>Номер телефона лікаря:</b>
  <%= @doctor.phone %>
</p>

<p>
  <b>Спеціалізація лікаря:</b>
  <%= @doctor.category.title %>
</p>

<p>
  <b>Дата візиту:</b>
  <%= @appointment.date %>
</p>

<p>
  <b>Проблема:</b>
  <%= @appointment.comment %>
</p>

<p>
<h6>Дані:</h6>
  <b>Ім'я:</b>
  <%= current_user.first_name %>
</p>

<p>
  <b>Прізвище:</b>
  <%= current_user.last_name %>
</p>

<p>
  <b>Номер телефона:</b>
  <%= current_user.phone %>
</p>
