<div class="container p-5">
<h4>Doctors:</h4>

<ul class="list-group list-group-flush p-3">
  <% @doctors.each do |doctor| %>
    <li class="list-group-item">
      <%= doctor.first_name %>
      <%= doctor.last_name %> - 
      <%= doctor.category.title %><br>
      <%= link_to "View", doctors_doctor_path(doctor), class: "pr-3" %>
      <%= link_to "New Appointment", new_doctors_doctor_appointment_path(doctor) %>
    </li>
  <% end %>
</ul>
</div>