<br></br><br></br><br></br>
<center>
<% #user see this on doc viwe page %>
<h4 class="pb-4">Інформація про лікаря:</h4>
<p>
  <b>Ім'я:</b>
  <%= @doctor.first_name %>
</p>

<p>
  <b>Прізвище:</b>
  <%= @doctor.last_name %>
</p>

<p>
  <b>Емейл:</b>
  <%= @doctor.email %>
</p>

<p>
  <b>Номер телефону:</b>
  <%= @doctor.phone %>
</p>

<p>
  <b>Спеціалізація:</b>
  <%= @doctor.category.title %>
</p>

<%= link_to "Запланувати візит", new_doctors_doctor_appointment_path(@doctor), class: "btn btn-primary" %>
