<br></br><br></br><br></br>
<center>
<p>
  <b>First_name:</b>
  <%= @doctor.first_name %>
</p>

<p>
  <b>Last_name:</b>
  <%= @doctor.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @doctor.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @doctor.phone %>
</p>

<p>
  <b>Category:</b>
  <%= @doctor.category.title %>
</p>

