<br></br><br></br><br></br>
<center>
<% #user see this on doc viwe page %>
<p>
  <b>First_name:</b>
  <%= @doctor.first_name %>
</p>

<p>
  <b>Last_name:</b>
  <%= @doctor.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @doctor.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @doctor.phone %>
</p>

<p>
  <b>Category:</b>
  <%= @doctor.category.title %>
</p>

<%= link_to "New Appointment", new_doctors_doctor_appointment_path(@doctor) %>
