<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#default">Polyclinic</a>
    </li>
    <% if !user_signed_in? && !doctor_signed_in? %>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_user_session_path %>">sign in as a user</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_user_registration_path %>">sign up as a user</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_doctor_session_path %>">sign in as a doctor</a>
      </li>
    <% elsif user_signed_in? %>
      <li class="nav-item">
        <a><%= link_to 'Doctors', doctors_doctors_path, class: "nav-link" %><a>
      </li>
      <li class="nav-item">
        <a><%= link_to 'Profile', users_user_path(current_user), class: "nav-link" %><a>
      </li>
      <li class="nav-item">
        <a><%= link_to 'My Appointments', user_appointments_users_user_path(current_user), class: "nav-link" %></a>
      </li>
      <li class="nav-item mr-auto">
        <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
      </li>
    <% else %>
      <li class="nav-item">
        <a><%= link_to 'My Appointments', doctors_doctor_appointments_path(current_doctor.id), class: "nav-link" %></a>
      </li>
      <li class="nav-item">
        <%= button_to "Log out", destroy_doctor_session_path, method: :delete, class: "btn btn-primary" %>
      </li>
    <% end %>
  </ul>
</nav>
